streamlit==1.61.1
pandas==2.2.3
numpy==1.26.4
pillow==10.4.0
openpyxl==3.1.5
scikit-learn==1.6.1
joblib==1.4.2
ngboost==0.5.11
scipy==1.14.1
matplotlib==3.9.2
lifelines==0.29.0
autograd==1.7.0
autograd-gamma==0.5.0
formulaic==1.1.1
